.con {
  overflow: hidden;
  display: block;
  width: 100vw;
  height: 100vh;
}

header {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .icon {
    width: 30px;
    height: 30px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  nav a:hover {
    color: pink;
  }
  footer {
    background-color: black;
    padding: 0;
    
  }

